<style type="text/css">
#map {
	height:250px;
	width: 100%;
	float: left;
	color: black;
	margin-bottom:5px;
}
</style>

<div class="path">
Home / Berkas / Data Survey
</div>

<strong>
Data (draft) Calon Pelanggan Baru
</strong>
<br/>
<small>Sumber Data bagian Perencanaan dalam melakukan Survey</small>
<hr/>
<div style="overflow:auto;margin-bottom:5px;">
<div id="form-kiri" style="border:1px solid #ccc;border-radius:5px;width:450px;padding:5px;float:left;margin-right:5px;margin-bottom:5px;">
<div>
	<input type="checkbox" name="chk-tgl" id="chk-tgl" />&nbsp;
	<label for="tgl-awal">Tgl Input</label>
	<input type="text" id="tgl-awal" name="tgl-awal" class="tanggal" readonly/> s/d
	<input type="text" id="tgl-akhir" name="tgl-akhir" class="tanggal" readonly/>
</div>
<div>
	<input type="checkbox" name="chk-upp" id="chk-upp" />&nbsp;
	<label for="upp">Cabang</label>
	<select id="upp" name="upp"></select>
</div>
<hr/>
<div style="margin-top:20px;">
<button id="btn-submit" name="btn-submit" class="ui-button" style="float:right;">Tampilkan</button>
<button id="btn-reset" name="btn-reset" class="ui-button">Reset</button>
</div>

</div>

<!--div id="form-kanan" style="border:1px solid #ccc;border-radius:5px;width:450px;padding:5px;float:left;text-align:center;">
	<div id="map"></div>
</div-->

</div>

<hr/>

<table class="tablex" id="tabel">
	<thead>
		<tr>
			<th>#</th>
			<th>ID</th>
			<th>Nama</th>
			<th>Alamat</th>
			<th>Tgl. Input</th>
		</tr>
	</thead>
	<tbody id="tbody">

		<tr>
			<td colspan="5">&nbsp;</td>
		</tr>
	</tbody>
	<tfoot class="noExl">
		<tr>
			<td colspan="5"><small>Tabel ini secara otomatis menampilkan calon pelanggan yang sedang di-input untuk bulan ini.</small></td>
		</tr>
	</tfoot>
</table>
<button id="btn-export" class="ui-button">Export</button>


<script type="text/javascript">
$(document).ready(function(){
	$('#btn-export').click(function(){
		$("#tabel").table2excel({
		    // exclude CSS class
		    exclude: ".noExl",
		    name: "Sheet1",
		    filename: "SomeFile", //do not include extension
			fileext:'xlsx'
		  }); 
	});


	/*console.log('data survey is ready !!!');*/
	$('.tgl-input').datepicker();
	$('#upp').load('ctrl/main.php?gif=upp');
	$('#tbody').load('ctrl/data-survey.php?gif=tabel');

	$('#btn-submit').click(function(){
		/*console.log('berhasil...');*/

		var t1=$('#tgl-awal').val();
		var t2=$('#tgl-akhir').val();
		var upp=$('#upp').val();

		var urls='ctrl/data-survey.php?gif=tabel';
		if($('#chk-tgl').is(':checked')){
			urls+='&t1='+t1+'&t2='+t2;
		}
		if($('#chk-upp').is(':checked')){
			urls+="&upp="+upp;
		}
		console.log('url: '+urls);
		$('#tbody').load(urls);

	});

});
</script>


<style type="text/css">
</style>



<script type="text/javascript">

      function initMap() {
        var myLatlng = {lat: -2.5916, lng: 140.6690};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 20,
          center: myLatlng
        });

	//map.mapTypeId:'satellite';

        var marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
	  mapTypeId:'satellite',
          title: 'Click to zoom'
        });

        map.addListener('center_changed', function() {
          // 3 seconds after the center of the map has changed, pan back to the
          // marker.
          window.setTimeout(function() {
            map.panTo(marker.getPosition());
          }, 3000);
        });

        marker.addListener('click', function() {
          map.setZoom(8);
          map.setCenter(marker.getPosition());
        });
      }


</script>


<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbKSZYsGryBrvYDGHN55xEOtXpWqE6WIQ&callback=initMap">
</script>
