<div class="row">

<div class="col-sm-6">

<h1>Informasi Pelanggan</h1>

<div class="form-group">
	<label for="tx-nomor">Nomor Pelanggan</label>
	<input type="text" id="tx-nomr" class="form-control form-control-sm"/>
</div>

<div class="form-group">
	<button id="btn-submit" class="btn btn-sm btn-outline-primary">Show</button>
</div>

<div id="result">
</div>


<select id="opt-cabang" name="opt-cabang" class="form-control form-control-sm">
</select>

</div><!--col-sm-6-->

</div><!--row-->


<script type="text/javascript">
$(document).ready(function(){
	console.log('Ready....');
	$('#opt-cabang').load('ctrl/main.php?gif=upp');
});
</script>
