<style type="text/css">
label{
	display:inline-block;
	width:130px;
	text-align:left;
	margin-bottom:10px;
}

#kotak{
	padding:5px;
	width:500px;
	background-color:#fff;
	border-radius:5px;
	margin-bottom:5px;
	overflow:auto;
}

</style>

<strong>
Registrasi Pelanggan Baru
</strong>


<div id="kotak">
	<form id="form">
<div>
<label for="tx-id">Nomor Identitas</label>
<input type="text" id="tx-id" name="tx-id"/>
</div>


<div>
<label for="tx-nama">Nama</label>
<input type="text" id="tx-nama" name="tx-nama"/>
</div>


<div>
<label for="tx-alamat">Alamat</label>
<input type="text" id="tx-alamat" name="tx-alamat"/>
</div>

<div>
<label for="tx-rt">RT/RW</label>
<input type="text" id="tx-rt" name="tx-rt" style="width:50px;"/>&nbsp;/&nbsp;
<input type="text" id="tx-rw" name="tx-rw" style="width:50px;"/>
</div>

<div>
<label for="tx-hp">No. HP</label>
<input type="text" id="tx-hp" name="tx-hp"/>
</div>

<div>
<label for="tx-spl">No. SPL</label>
<input type="text" id="tx-spl" name="tx-spl"/>
</div>

<div>
	<label for="opt-upp">Area Service</label>
	<select id="opt-upp" name="opt-upp">
		<!-- auto-create-content -->
	</select>
</div>
</form>
<hr/>
<div>
<button id="btn-submit" class="btn" style="float:right;">Simpan</button>
<button id="btn-reset" class="btn" style="">Reset</button>
</div>

</div>

<div id="msg" class="msg"></div>

<table class="tablex">
<thead>
	<tr>
	<th>#</th>
	<th>ID</th>
	<th>Calon Pelanggan</th>
	<th>RT</th>
	<th>RW</th>
	<th>No. HP</th>
	<th>No. SPL</th>
	<th>Cabang</th>
	<th>Tgl</th>
	<th>DEL</th>
	</tr>
</thead>

<tbody id="tbody">
</tbody>
</table>

<script type="text/javascript">

$(document).ready(function(){

	$('#opt-upp').load('ctrl/main.php?gif=upp');
	$('#tbody').load('ctrl/reg-pelanggan.php?gif=pel-baru');

	$('#btn-reset').click(function(){
		$('#form')[0].reset();
		$('#msg').css('display','none');
	});

	$('#btn-submit').click(function(){
		$('#msg').css('display','none');
		if(
		$('#tx-id').val()!='' 
		&& $('#tx-nama').val()!='' 
		&& $('#tx-alamat').val()!='' 
		&& $('#tx-rt').val()!='' 
		&& $('#tx-rw').val()!='' 
		&& $('#tx-hp').val()!='' 
		&& $('#tx-spl').val()!='' 
		){
		var data=$('#form').serialize();
		$.ajax({
			type:'POST',
			url:'ctrl/reg-pelanggan.php',
			data:data,
			success:function(e){
				/*$('#msg').html(e);*/
				$('#form')[0].reset();
				$('#tbody').load('ctrl/reg-pelanggan.php?gif=pel-baru');
			},
			error:function(){
				$('#msg').css('display','block');
				$('#msg').html('Gagal menyimpan data.');
			}
		});
		}else{
			$('#msg').css('display','block');
			$('#msg').html('Lengkapi form terlebih dahulu !');
		}
	});

});


</script>
