<style type="text/css">

#kotak{
	padding:5px;
	background-color:#fff;
	border-radius:5px;
	margin-bottom:5px;
	border:1px solid #cce;
	overflow:auto;
	width:400px;
	float:left;
	margin-right:5px;
}
#map {
	height:850px;
	width: 55%;
	float: left;
	color: black;
	margin-bottom:5px;
}
.isian{
	min-width: 260px;
}
</style>

<div class="path">
Home / Berkas / Registrasi
</div>

<strong>
Registrasi Pelanggan Baru
</strong>
<br/>
<small>Modul input Calon Pelanggan pada bagian Hublang</small>
<hr/>

<div style="display:inline;	overflow:auto;">
<div id="kotak">
	<form id="form" class="">

<div>
<label for="tx-id">Nomor Identitas</label>
<input type="text" id="tx-id" name="tx-id" placeholder="KTP / SIM / NPWP" class="isian"/>
</div>
<hr/>
<div>
<label for="tx-nama-1">Pemohon</label>
<input type="text" id="tx-nama-1" name="tx-nama-1" placeholder="Nama lengkap" class="isian" />
</div>

<div>
<label for="tx-alamat-1">Alamat</label>
<textarea id="tx-alamat-1" name="tx-alamat-1" style="width:99%;height:50px;"></textarea>
</div>

<div>
<label for="tx-rt-1">RT/RW</label>
<input type="text" id="tx-rt-1" name="tx-rt-1" style="width:50px;"/>&nbsp;/&nbsp;
<input type="text" id="tx-rw-1" name="tx-rw-1" style="width:50px;"/>
</div>

<div>
<label for="opt-kecamatan-1">Kecamatan</label>
<select id="opt-kecamatan-1" name="opt-kecamatan-1" class="isian"></select>
</div>

<div>
<label for="opt-kelurahan-1">Kelurahan</label>
<select id="opt-kelurahan-1" name="opt-kelurahan-1" class="isian"></select>
</div>


<hr/>
<div style="background-color: #eee;margin-top: 10px;margin-bottom: 10px;">

<div style="margin-bottom: 15px;">
	<input type="checkbox" name="chk-sama" id="chk-sama">&nbsp;Sama dengan data pemohon.
</div>

<div>
<label for="tx-nama">Nama</label>
<input type="text" id="tx-nama" name="tx-nama" placeholder="Nama dalam rekening" class="isian" />
</div>


<div>
<label for="tx-alamat">Alamat</label>
<textarea id="tx-alamat" name="tx-alamat" style="width:98%;height:50px;"></textarea>
</div>

<div>
<label for="tx-rt">RT/RW</label>
<input type="text" id="tx-rt" name="tx-rt" style="width:50px;"/>&nbsp;/&nbsp;
<input type="text" id="tx-rw" name="tx-rw" style="width:50px;"/>
</div>

<div>
<label for="opt-kecamatan">Kecamatan</label>
<select id="opt-kecamatan" name="opt-kecamatan" class="isian"></select>
</div>

<div>
<label for="opt-kelurahan">Kelurahan</label>
<select id="opt-kelurahan" name="opt-kelurahan" class="isian"></select>
</div>

</div><!--data sama dengan di atas-->
<hr/>

<div>
<label for="tx-spl">No. SPL</label>
<input type="text" id="tx-spl" name="tx-spl" class="isian" placeholder="Nomor Register" />
</div>

<div>
	<label for="opt-upp">Area Service</label>
	<select id="opt-upp" name="opt-upp" class="isian">
		<!-- auto-create-content -->
	</select>
</div>
<hr/>

<div>
<label for="tx-hp">No. HP</label>
<input type="text" id="tx-hp" name="tx-hp" class="isian" placeholder="Nomor handphone pelanggan untuk info survey dan biaya penerbitan" />
</div>

<div>
<label for="tx-job">Pekerjaan</label>
<input type="text" id="tx-job" name="tx-job" class="isian"/>
</div>

<hr/>

<div>
<label for="lok-rmh">Lok. Koordinat</label>
<input type="text" name="lok-rmh" id="lok-rmh" class="isian" readonly style="color: red;" />
</div>

<div>
<label for="tx-luas">Luas (M<sup>2</sup>)</label>
<input type="text" id="tx-luas" name="tx-luas" class="isian" placeholder="Luas tanah dan bangunan" />
</div>

<div>
	<label for="opt-jnsbgn">Jenis Bgn</label>
	<select id="opt-jnsbgn" name="opt-jnsbgn" class="isian"></select>
</div>

<div>
<label for="tx-jmlhuni">Jml Penghuni</label>
<input type="text" id="tx-jmlhuni" name="tx-jmlhuni" class="isian" placeholder="Jumlah penghuni rumah" />
</div>

<div>
	<label for="opt-statrmh">Status Rmh</label>
	<select id="opt-statrmh" name="opt-statrmh" class="isian"></select>
</div>

<div>
	<label for="opt-perun">Peruntukan</label>
	<select id="opt-perun" name="opt-perun" class="isian"></select>
</div>

<div>
	<label for="opt-airalt">Sumber Air</label>
	<select id="opt-airalt" name="opt-airalt" class="isian"></select>
</div>

<input type="hidden" name="tx-pos-lat" id="tx-pos-lat" />
<input type="hidden" name="tx-pos-lon" id="tx-pos-lon" />

</form>
<hr/>
<div>
<button id="btn-submit" class="ui-button" style="float:right;">Simpan</button>
<button id="btn-reset" class="ui-button" style="">Reset</button>
</div>


</div><!--kotak-->


<div id="map"></div>
</div><!--display block-->

<div style="width: 100%;float: clear;overflow: auto;"></div>

<div id="msg" class="msg" style=""></div>

<table class="tablex" id="xreg-table">
<thead>
	<tr>
	<th>#</th>
	<th>ID</th>
	<th>Calon Pelanggan</th>
	<th>Alamat</th>
	<th>RT</th>
	<th>RW</th>
	<th>No. SPL</th>
	<th>UPP</th>
	<th>Tgl. Input</th>
	<th>DEL</th>
	</tr>
</thead>

<tbody id="tbody">
</tbody>
<tfoot>
	<tr>
		<td colspan="10" style="font-style:italic;font-size:80%;">Tabel ini hanya menampilkan draft calon pelanggan untuk bulan berjalan. Untuk melihat secara lengkap per tanggal, buka menu <strong>Data Registrasi<strong></td>
	</tr>
</tfoot>
</table>

<script type="text/javascript">

$(document).ready(function(){

/*	$('#opt-upp').selectmenu();*/

	$('#reg-table').DataTable();

	$('#opt-upp').load('ctrl/main.php?gif=upp');
	$('#opt-kecamatan-1').load('ctrl/main.php?gif=kecamatan');
	$('#opt-kelurahan-1').load('ctrl/main.php?gif=kelurahan');
	$('#opt-kecamatan').load('ctrl/main.php?gif=kecamatan');
	$('#opt-kelurahan').load('ctrl/main.php?gif=kelurahan');
	$('#opt-statrmh').load('ctrl/main.php?gif=statrmh');
	$('#opt-jnsbgn').load('ctrl/main.php?gif=jnsbgn');
	$('#opt-perun').load('ctrl/main.php?gif=perun');
	$('#opt-airalt').load('ctrl/main.php?gif=airalt');
	$('#tbody').load('ctrl/reg-pelanggan.php?gif=pel-baru');

	$('#chk-sama').change(function(){
		//console.log('anjir...');
		$('#tx-nama').prop('disabled',$(this).is(':checked'));
		$('#tx-alamat').prop('disabled',$(this).is(':checked'));
		$('#tx-rt').prop('disabled',$(this).is(':checked'));
		$('#tx-rw').prop('disabled',$(this).is(':checked'));
		$('#opt-kecamatan').prop('disabled',$(this).is(':checked'));
		$('#opt-kelurahan').prop('disabled',$(this).is(':checked'));


		$('#tx-nama').val($('#tx-nama-1').val());
		$('#tx-alamat').val($('#tx-alamat-1').val());
		$('#tx-rt').val($('#tx-rt-1').val());
		$('#tx-rw').val($('#tx-rw-1').val());
		$('#opt-kecamatan').val($('#opt-kecamatan-1').val());
		$('#opt-kelurahan').val($('#opt-kelurahan-1').val());
	});

	$('#tx-nama-1').change(function(){
		if($('#chk-sama').is(':checked')){
			$('#tx-nama').val($(this).val());
		}
	});

	$('#tx-alamat-1').change(function(){
		if($('#chk-sama').is(':checked')){
			$('#tx-alamat').val($(this).val());
		}
	});

	$('#tx-rt-1').change(function(){
		if($('#chk-sama').is(':checked')){
			$('#tx-rt').val($(this).val());
		}
	});

	$('#tx-rw-1').change(function(){
		if($('#chk-sama').is(':checked')){
			$('#tx-rw').val($(this).val());
		}
	});

	$('#opt-kecamatan-1').change(function(){
		if($('#chk-sama').is(':checked')){
			$('#opt-kecamatan').val($(this).val());
		}
	});

	$('#opt-kelurahan-1').change(function(){
		if($('#chk-sama').is(':checked')){
			$('#opt-kelurahan').val($(this).val());
		}
	});

	$('#btn-reset').click(function(){
		$('#form')[0].reset();
		$('#msg').css('display','none');
		initMap.clearMarkers();
		initMap.deleteMarkers();			    
		$('#lok-rmh').val('');


		$('#tx-nama').removeAttr("disabled");
		$('#tx-alamat').removeAttr("disabled");
		$('#tx-rt').removeAttr("disabled");
		$('#tx-rw').removeAttr("disabled");
		$('#opt-kecamatan').removeAttr("disabled");
		$('#opt-kelurahan').removeAttr("disabled");


		$('#tx-id').focus();
		$('#tbody').load('ctrl/reg-pelanggan.php?gif=pel-baru');
	});

	$('#btn-submit').click(function(){


		var no_ktp=$('#tx-id').val();
		var nama_1=$('#tx-nama').val();
		var alamat_1=$('#tx-alamat').val();
		var rt_1=$('#tx-rt').val();
		var rw_1=$('#tx-rw').val();
		var kecamatan_1=$('#opt-kecamatan').val();
		var kelurahan_1=$('#opt-kelurahan').val();
		var nama_2=$('#tx-nama-1').val();
		var alamat_2=$('#tx-alamat-1').val();
		var rt_2=$('#tx-rt-1').val();
		var rw_2=$('#tx-rw-1').val();
		var kecamatan_2=$('#opt-kecamatan-1').val();
		var kelurahan_2=$('#opt-kelurahan-1').val();
		var no_spl=$('#tx-spl').val();
		var upp=$('#opt-upp').val();
		var no_hp=$('#tx-hp').val();
		var pekerjaan=$('#tx-job').val();
		var pos_lat=$('#tx-pos-lat').val();
		var pos_lon=$('#tx-pos-lon').val();
		var luas=$('#tx-luas').val();
		var jns_bangunan=$('#opt-jnsbgn').val();
		var jml_penghuni=$('#tx-jmlhuni').val();
		var stat_rmh=$('#opt-statrmh').val();
		var peruntukan=$('#opt-perun').val();
		var sumber_air=$('#opt-airalt').val();

		$('#msg').css('display','none');
		if(
			no_ktp!=''
			&& nama_1!=''
			&& alamat_1!=''
			&& rt_1!=''
			&& rw_1!=''
			&& kecamatan_1!=''
			&& kelurahan_1!=''
			&& nama_2!=''
			&& alamat_2!=''
			&& rt_2!=''
			&& rw_2!=''
			&& kecamatan_2!=''
			&& kelurahan_2!=''
			&& no_spl!=''
			&& upp!=''
			&& no_hp!=''
			&& pekerjaan!=''
			&& pos_lat!=''
			&& pos_lon!=''
			&& luas!=''
			&& jns_bangunan!=''
			&& jml_penghuni!=''
			&& stat_rmh!=''
			&& peruntukan!=''
			&& sumber_air!=''
		){
		/*var data=$('#form').serialize();*/


		var data={
			'no_ktp':no_ktp
			,'nama_1':nama_1
			,'alamat_1':alamat_1
			,'rt_1':rt_1
			,'rw_1':rw_1
			,'kecamatan_1':kecamatan_1
			,'kelurahan_1':kelurahan_1
			,'nama_2':nama_2
			,'alamat_2':alamat_2
			,'rt_2':rt_2
			,'rw_2':rw_2
			,'kecamatan_2':kecamatan_2
			,'kelurahan_2':kelurahan_2
			,'no_spl':no_spl
			,'upp':upp
			,'no_hp':no_hp
			,'pekerjaan':pekerjaan
			,'pos_lat':pos_lat
			,'pos_lon':pos_lon
			,'luas':luas
			,'jns_bangunan':jns_bangunan
			,'jml_penghuni':jml_penghuni
			,'stat_rmh':stat_rmh
			,'peruntukan':peruntukan
			,'sumber_air':sumber_air
		}

		$.ajax({
			type:'POST',
			url:'ctrl/reg-pelanggan.php',/*
			dataType:'json',
			contentType:'application/json;charset=utf-8',*/
			data:data,
			success:function(e){
				$('#btn-reset').trigger('click');   
				/*$('#msg').css('display','block');

				$('#msg').html(e);*/
				alert('Calon pelanggan berhasil ditambahkan !');
				/*$('#form')[0].reset();
				$('#tbody').load('ctrl/reg-pelanggan.php?gif=pel-baru');
				$('#tx-id').focus();
				$('#lok-rmh').val('');
				initMap.clearMarkers();
				initMap.deleteMarkers();	*/		 
			},
			error:function(req,stat,err){
				$('#msg').css('display','block');
				$('#msg').html('Error msg: '+req.responseText);
			}
		});
		}else{
			$('#msg').css('display','block');
			$('#msg').html('Lengkapi form terlebih dahulu !');
		}
	});

	$('#tbody').delegate('.btn-del','click',function(){
		var id=$(this).attr('id');
		console.log('id_hapus: '+id);
		$.ajax({
			type:'POST',
			url:'ctrl/reg-pelanggan.php',
			data:{'id_hapus':id},
			success:function(e){				
				$('#msg').css('display','block');
				$('#msg').html(e);
				$('#tbody').load('ctrl/reg-pelanggan.php?gif=pel-baru');
				$('#tx-id').focus();
			},
			error:function(){
				$('#msg').html('Gagal menghapus data.');
			}
		});
	});

});

//pure javascript

function initMap() {

	var map;
      	var markers = [];


        var jayapura = {lat: -2.5916, lng: 140.6690};
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: jayapura
        });
        /*var marker = new google.maps.Marker({
          position: jayapura,
          map: map
        });*/
        map.setMapTypeId('satellite');



	google.maps.event.addListener(map, "click", function(event) {
    // get lat/lon of click
    var clickLat = event.latLng.lat();
    var clickLon = event.latLng.lng();

    // show in input box
    var result='{ Lat: '+clickLat.toFixed(5)+', Lon: '+clickLon.toFixed(5)+' }';
    console.log(result);
    //window.alert(result);
    //document.getElementById('hasil').innerHTML=result;
    document.getElementById('lok-rmh').value=result;
    document.getElementById('tx-pos-lon').value=clickLon.toFixed(5);
    document.getElementById('tx-pos-lat').value=clickLat.toFixed(5);
    //document.getElementById("lon").value = clickLon.toFixed(5);
/*
    marker = new google.maps.Marker({
      position: new google.maps.LatLng(clickLat,clickLon),
      map: map
    });
		markers.push(marker);*/
    clearMarkers();
    deleteMarkers();
    addMarker(event.latLng);


  });


// Adds a marker to the map and push to the array.
      function addMarker(location) {
        var marker = new google.maps.Marker({
          position: location,
          map: map,
          mapTypeId: 'satellite'
        });
        markers.push(marker);
      }

      // Sets the map on all markers in the array.
      function setMapOnAll(map) {
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(map);
        }
      }

      // Removes the markers from the map, but keeps them in the array.
      function clearMarkers() {
        setMapOnAll(null);
      }

      // Shows any markers currently in the array.
      function showMarkers() {
        setMapOnAll(map);
      }

      // Deletes all markers in the array by removing references to them.
      function deleteMarkers() {
        clearMarkers();
        markers = [];
      }

initMap.clearMarkers=clearMarkers;
initMap.deleteMarkers=deleteMarkers;

}


</script>


<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbKSZYsGryBrvYDGHN55xEOtXpWqE6WIQ&callback=initMap">
</script>
