<style type="text/css">
label{
	display:inline-block;
	width:80px;
	text-align:left;
	margin-bottom:10px;
}
</style>

<strong>
Registrasi Pelanggan Baru
</strong>


<div style="background-color:#fff;padding:5px;width:500px;">
<div>
<label for="tx-nama">Nama</label>
<input tyle="text" id="tx-nama"/>
</div>

<div>
<label for="tx-nama">Alamat</label>
<input tyle="text" id="tx-nama"/>
</div>

<div>
<label for="tx-nama">RT/RW</label>
<input tyle="text" id="tx-rt" style="width:50px;"/>&nbsp;/&nbsp;
<input tyle="text" id="tx-rw" style="width:50px;"/>
</div>

<div>
<label for="tx-nama">No. HP</label>
<input tyle="text" id="tx-nama"/>
</div>

<div>
<label for="tx-nama">No. SPL</label>
<input tyle="text" id="tx-nama"/>
</div>


</div>

<div>
<button style="float:right;">Simpan</button>
</div>


<script type="text/javascript">

$(document).ready(function(){




});


</script>
